<div class="upcom-meet">
  <div class="container">
    <h3 class="upcom-heading text-uppercase text-center font-weight-bold">upcoming meetings</h3>
    <div class="row">

      <div class="col-md-6">
        <div class="meet1 meet">
          <h2 class="heading1 heading">TechTalks</h2>
          <div class="meet1-content content-div">
            <div class="img-container">
              <img src="assets/img/aug12.jpeg" class="img">
            </div>
            <!-- <div class="desc">
              <strong>TechTalks + PeerLyst + CyberFat + DigitalOcean Meetup</strong>
              <br>
              <article class="desc-content">
                Topics: Cloud Security‍ &; Best Practices in Digital Ocean Cloud, Javascript and the event loop and GSOC Student
              </article>
              <br>
              <article class="desc-time">Time: 11:00 to 14:00</article>
              <a class="bar-btn">
                <i class="fa fa-arrow-left"></i>
              </a>
              <div class="desc-footer">
                <article class="desc-footer-content">Sunday, August 12, 2018</article>
                <button class="btn">RSVP</button>
              </div>
            </div> -->
          </div>
          <a class="bar-btn">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="meet2 meet">
          <h2 class="heading2 heading">Bear-To-Bull Mark...</h2>
          <div class="meet2-content content-div">
            <div class="img-container">
              <img src="assets/img/bear_to_bull.jpeg" class="img">
            </div>
            <!-- <div class="desc">
              <strong>Bear-To-Bull Market Meetup</strong>
              <br>
              <article class="desc-content">
                It's the usual drill. Come. Chill with cool crypto people. Learn about blockchain and its use cases. Get shilled on a few ICOs. Go home.
              </article>
              <br>
              <article class="desc-time">Time: 16:15 to 18:15</article>
              <a class="bar-btn">
                <i class="fa fa-arrow-left"></i>
              </a>
              <div class="desc-footer">
                <article class="desc-footer-content">Sunday, August 12, 2018</article>
                <button class="btn">RSVP</button>
              </div>
            </div> -->
          </div>
          <a class="bar-btn">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
