<div class="container text-center speakers">
  <h2 class="text-uppercase font-weight-bold">speakers</h2>

  <div class="row">
    <div class="col-xl-12">

      <div class="speaker-slider text-center">
        <div class="speaker speaker1">
          <img src="assets/img/nupur.jpg" class="img">
        </div>
        <div class="speaker speaker2">
          <img src="assets/img/ankit.jpg" class="img">
        </div>
        <div class="speaker speaker3">
          <img src="assets/img/shashank.jpg" class="img">
        </div>
      </div>

    </div>
  </div>

</div>