<div class="slider-top">
  <div class="first-div">
    <div class="carousel slide carousel-bg" id="carouselExampleControls" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active"></div>
          <div class="carousel-item second-slide"></div>
          <div class="carousel-item third-slide"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="top-heading text-uppercase">Next meetup : </h3>
          <h2 class="white-text top-heading">AMAZING ACTIVITIES.</h2>
          <h5 class="white-text third-heading">GETS YOUR CHILD INTO THE BEST ACTIVITIES IN YOUR CITY</h5>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span> -->
          <img src="assets/img/prev.png" class="prev-top">
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span> -->
          <img src="assets/img/next.png" class="next-top">
        </a>
    </div>
  </div>
</div>
