h3 { color: #708090; font-family: Oswald, sans-serif; margin-bottom: 45px; }

.form-group { display: inline-block; vertical-align: top; }

input { border-radius: 4px 0 0 4px; }

button { vertical-align: top; border-radius: 0 4px 4px 0; }
