<div class="team">
  <h2 class="text-uppercase font-weight-bold text-center">the team</h2>
  <div class="team-members">
    <div class="team-member">
      <img src="assets/img/amit.jpeg" class="team-img">
    </div>
    <div class="team-member">
      <img src="assets/img/arpit.jpeg" class="team-img">
    </div>
    <div class="team-member">
      <img src="assets/img/shrreya.jpg" class="team-img">
    </div>
    <div class="team-member">
      <img src="assets/img/apoorva.jpg" class="team-img">
    </div>
    <div class="team-member">
      <img src="assets/img/shubham.jpeg" class="team-img">
    </div>
    <div class="team-member">
      <img src="assets/img/prateek.jpg" class="team-img">
    </div>
  </div>
</div>
