{% extends "root/main.html" %} {% block bodyclass %}

<body class="page page-template">
  {% endblock %} {% block bodycontent %}
  <div class="csi-container ">
    <section>
      <div class="csi-banner csi-banner-inner">
        <div class="csi-banner-style">
          <div class="csi-inner">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="csi-heading-area">
                    <div class="csi-heading">
                      <h2 class="title">Community Partners</h2>
                    </div>
                    <ul class="breadcrumb">
                      <li><a href="/index"><i class="icon-home6"></i>Home</a></li>
                      <li class="active">Community Partners</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--//.ROW-->
            </div>
          </div>
          <!-- //.INNER -->
        </div>
      </div>
    </section>
    <!--Banner END-->


    {% load static %}
    <!--SPONSORED-->
    <section>
      <div id="csi-sponsors" class="csi-sponsors">
        <div class="csi-inner-bg">
          <div class="csi-inner" style="background: #fff;">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="sponsors-area">
                    <div class="sponsors-area">
                      <div class="single">
                        <a class="" href="https://www.peerlyst.com/"><img src="{% static 'root/img/community_partner/1.jpg' %}" alt='' /></a>
                      </div>
                      <div class="single">
                        <a class="" href="http://cyberfrat.com/"><img src="{% static 'root/img/community_partner/2.jpg' %}" alt='' /></a>
                      </div>
                      <div class="single">
                        <a class="" href="https://www.digitalocean.com/"><img src="{% static 'root/img/community_partner/3.png' %}" alt='' /></a>
                      </div>
                      <div class="single">
                        <a class=""><img src="{% static 'root/img/community_partner/4.png' %}" alt='' /></a>
                      </div>
                  </div>
                </div>
                <!--//col-->
              </div>
              <!--//row-->
              <!--<div class="row">
                            <div class="col-xs-12">
                                <h3 class="sponsored-heading">Sponsors category 2</h3>
                                <div class="sponsors-area">
                                    <div class="single">
                                        <p> Images here </p>-->
              <!--<a class="" href="#"><img src="root/img/sponsors/sponsor1.png" alt=""/></a>-->
              <!--</div>
                                </div>
                            </div>
                        </div>-->
              <!--//row-->
            </div>
            <!--//container-->
          </div>
        </div>
        <!--//csi-inner-->
      </div>
    </section>
  </div>
</body>
{% endblock %}
