{% extends "root/main.html" %} {% block bodyclass %}

<body class="home">
  <div class="csi-container ">
    {% endblock %} {% block bodycontent %}

    <section>
      <div class="csi-slider">
        <div class="csi-banner-style">
          <div class="csi-inner">

            <div id="csi-main-slider" class="owl-carousel ">

              <!--SLIDER ITEM 1-->
              {% load static %}
              <div class="csi-item-common csi-item-left">

                <div class="col-sm-12g">
                  <div class="slider-text-single">
                    <figure>
                      <img src="{% static 'root/img/slider1.jpg' %}" alt="slider" />
                      <figcaption>
                        <div class="figcaption-inner">
                          <div class="csi-container csi-banner-content">
                            <div class="csi-hover-link">
                              <div class="csi-vertical">
                                <div class="csi-banner-content">
                                  <h3 class="csi-subtitle">Next Meetup :</h3>
                                  <h2 class="csi-title">{{ next }}</h2>
                                  <p class="date">On {{ date }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <!--//.col-->
              </div>
              <!--SLIDER ITEM 1 End-->

              <!--SLIDER ITEM 2-->
              <div class="csi-item-common csi-item-center">
                <div class="col-sm-12g">
                  <div class="slider-text-single">
                    <figure>
                      <img src="{% static 'root/img/slider2.jpg' %}" alt="slider" />
                      <figcaption>
                        <div class="figcaption-inner">
                          <div class="csi-container csi-banner-content">
                            <div class="csi-hover-link">
                              <div class="csi-vertical">
                                <div class="csi-banner-content">
                                  <h3 class="csi-subtitle">Next Meetup :</h3>
                                  <h2 class="csi-title">{{ next }}</h2>
                                  <p class="date">On {{ date }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <!--//.col-->
              </div>
              <!--SLIDER ITEM 2 End-->

              <!--SLIDER ITEM 3-->
              <div class="csi-item-common csi-item-right">
                <div class="col-sm-12g">
                  <div class="slider-text-single">
                    <figure>
                      <img src="{% static 'root/img/slider3.jpg' %}" alt="slider" />
                      <figcaption>
                        <div class="figcaption-inner">
                          <div class="csi-container csi-banner-content">
                            <div class="csi-hover-link">
                              <div class="csi-vertical">
                                <div class="csi-banner-content">
                                  <h3 class="csi-subtitle">Next Meetup :</h3>
                                  <h2 class="csi-title">{{ next }}</h2>
                                  <p class="date">On {{ date }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <!--//.col-->
              </div>
              <!--SLIDER ITEM 3 End-->
            </div>
            <!--//.csi-main-slider-->
            <!-- //.CONTAINER -->
          </div>
          <!-- //.INNER -->
        </div>
      </div>
    </section>
    <!--SLIDER END-->
    <!--ABOUT-->
    <section>
      <div id="csi-about" class="csi-about">
        <div class="csi-inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="csi-about-img">
                  <img src="{% static 'root/img/logo.png' %}" alt="about">
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="csi-about-content-area">
                  <div class="csi-heading">
                    <h2 class="heading">What will be in this meetup?</h2>
                  </div>
                  <div class="csi-about-content">
                    <p class="text">
                      {{ brief }}
                    </p>
                    <div class="btn-area">
                      <a class="csi-btn csi-scroll" href="{{ rsvp_link }}" target="_blank">RSVP</a>
                      <a class="csi-btn csi-btn-brand" href="{{ gmaps_link }}" target="_blank">Venue</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
      </div>
    </section>
    <!--ABOUT END-->


    <!--SERVICE-->
    <section>
      <div id="csi-services" class="csi-services">
        <div class="csi-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="csi-single-service">
                  <span class="icon"><i class="fa fa-map-signs" aria-hidden="true" style="filter: grayscale(80%)"></i></span>
                  <a style="" href="{{ gmaps_link }}" target="_blank">
                    <div class="text-area">
                      <h2 class="title">Venue Location</h2>
                      <p><strong>{{ venue_name }}</strong> <br>{{ venue_add }}<br> (Click for Google Maps)</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="csi-single-service">
                  <div class="text-area">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="csi-single-service">
                  <span class="icon"><i class="fa fa-map-signs" aria-hidden="true" style="filter: grayscale(80%)"></i></span>
                  <figure>
                    <div class="text-area">
                      <h2 class="title">How to reach here</h2>
                      <p>{{ how_to_get_here }}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
      </div>
    </section>
    <!--SERVICE END-->



    <!--SPEAKERS-->
    <section>
      <div id="csi-speakers" class="csi-speakers">
        <div class="csi-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="csi-heading">
                  <h2 class="heading">Speakers</h2>
                </div>
              </div>
            </div>
            <!--//.ROW-->
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="csi-single-speaker">
                  <figure>
                    <img src="{% static 'root/img/speakers/nupur.jpg' %}" alt="speaker" />
                    <figcaption>
                      <div class="social-group">
                        <a class="sp-tw" href="{{ first_speaker_twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="{{ first_speaker_git }}" target="_blank"><i class="fa fa-github"></i></a>
                        <a class="sp-in" href="{{ first_speaker_linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                      </div>
                      <div class="speaker-info">
                        <h3 class="title">{{ first_speaker_name }}</h3>
                        <h4 class="subtitle">{{ first_speaker_info }}</h4>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="csi-single-speaker">
                  <figure>
                    <img src="{% static 'root/img/speakers/ankit.jpg' %}" alt="speaker" />
                    <figcaption>
                      <div class="speaker-info">
                        <h3 class="title">{{ second_speaker_name }}</h3>
                        <h4 class="subtitle">{{ second_speaker_info }}</h4>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="csi-single-speaker">
                  <figure>
                    <img src="{% static 'root/img/speakers/shashank.jpg' %}" alt="speaker" />
                    <figcaption>
                      <div class="social-group">
                        <a href="https://shanky.xyz" target="_blank"><i class="fa fa-link"></i></a>
                      </div>
                      <div class="speaker-info">
                        <h3 class="title">{{ third_speaker_name }}</h3>
                        <h4 class="subtitle">{{ third_speaker_info }}</h4>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
      </div>
    </section>
    <!--SPEAKERS END-->

    <!--SPONSORED-->
    <section>
      <div id="csi-sponsors" class="csi-sponsors">
        <div class="csi-inner-bg">
          <div class="csi-inner">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="csi-heading">
                    <h2 class="heading">Sponsors</h2>
                  </div>
                </div>
              </div>
              <!--//main row-->
              <div class="row">
                <div class="col-xs-12">
                  <div class="sponsors-area">
                    <div class="single">
                      <a class="" href="http://hackerspace.work"><img src="{% static 'root/img/sponsors/hackerspace.png' %}" alt='' /></a>
                    </div>
                  </div>
                </div>
                <!--//col-->
              </div>
              <!--//col-->
            </div>
          </div>
          <!--//container-->
        </div>
      </div>
      <!--//csi-inner-->
  </div>
  </section>
  <section>
    <div id="csi-sponsors" class="csi-sponsors">
      <div class="csi-inner-bg">
        <div class="csi-inner" style="background: #fff;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="csi-heading">
                  <h2 class="heading">Community Partner</h2>
                </div>
              </div>
            </div>
            <!--//main row-->
            <div class="row">
              <div class="col-xs-12">
                <div class="sponsors-area">
                  <div class="single">
                    <a class="" href="https://www.peerlyst.com/"><img src="{% static 'root/img/community_partner/1.jpg' %}" alt='' /></a>
                  </div>
                  <div class="single">
                    <a class="" href="http://cyberfrat.com/"><img src="{% static 'root/img/community_partner/2.jpg' %}" alt='' /></a>
                  </div>
                  <div class="single">
                    <a class="" href="https://www.digitalocean.com/"><img src="{% static 'root/img/community_partner/3.png' %}" alt='' /></a>
                  </div>
                  <div class="single">
                    <a class=""><img src="{% static 'root/img/community_partner/4.png' %}" alt='' /></a>
                  </div>
                </div>
              </div>
              <!--//col-->
            </div>
            <!--//col-->
          </div>
        </div>
        <!--//container-->
      </div>
    </div>
    <!--//csi-inner-->
</div>
</section>
  <!--SPONSORED END-->


  <!--News-->
  <!--
<section>
    <div id="csi-news" class="csi-news">
        <div class="csi-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-heading">
                            <h2 class="heading">From Our Blog</h2>
                            <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="csi-single-news">
                            <figure>
                                <a href="news-single.html"><img src="assets/img/news/news1.jpg" alt=""></a>
                                <figcaption>
                                    <h4 class="date">15<span>Dec</span></h4>
                                </figcaption>
                            </figure>
                            <h3 class="title"><a href="news-single.html">Brooklyn Beta was the most important conferen best tristique</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="csi-single-news">
                            <figure>
                                <a href="news-single.html"><img src="assets/img/news/news3.jpg" alt=""></a>
                                <figcaption>
                                    <h4 class="date">15<span>Dec</span></h4>
                                </figcaption>
                            </figure>
                            <h3 class="title"><a href="news-single.html">Brooklyn Beta was the most important conferen best tristique</a></h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="csi-single-news">
                            <figure>
                                <a href="news-single.html"><img src="assets/img/news/news2.jpg" alt=""></a>
                                <figcaption>
                                    <h4 class="date">15<span>Dec</span></h4>
                                </figcaption>
                            </figure>
                            <h3 class="title"><a href="news-single.html">Brooklyn Beta was the most important conferen best tristique</a></h3>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <a class="csi-btn csi-btn-big" href="news-list.html">View More Blogs</a>
                  </div><
                </div>
        </div>
    </div>
</section>-->
  <!--News END-->

  </div>
  {% endblock %}
