{% extends "root/main.html" %} {% block bodyclass %}

<body class="page page-template">
  {% endblock %} {% block bodycontent %}

  <div class="csi-container ">

    <section>
      <div class="csi-banner csi-banner-inner">
        <div class="csi-banner-style">
          <div class="csi-inner">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="csi-heading-area">
                    <div class="csi-heading">
                      <h2 class="title">Past Meetups</h2>
                    </div>
                    <ul class="breadcrumb">
                      <li><a href="/index"><i class="icon-home6"></i>Home</a></li>
                      <li class="active">Past Meetups</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--//.ROW-->
            </div>
          </div>
          <!-- //.INNER -->
        </div>
      </div>
    </section>

    <section>
      <div id="csi-about" class="csi-about">
        <div class="csi-inner">
          <div class="container">
            <div class="csi-about-content-area csi-about-content-area-left">
              <div class="csi-heading">
                <h2 class="heading" style="text-align: center; opacity: 0.5">No Past Meetups!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //.CONTAINER -->
  </div>
  <!-- //.INNER -->
  </div>
  </section>

  {% load static %}
  <!--GALLERY-->
  <!--<section>
      <div id="csi-gallery" class="csi-gallery">
        <div class="csi-inner">
          <div class="container">
            <div class="row">
              <div class="csi-single-gallery">
                <figure>
                  <img title="Meetup held at rovio!" src="{% static 'root/img/past/2.png' %}" />
                  <figcaption>
                    <div class="csi-hover-link">
                      <div class="csi-vertical">
                        <a title="Meetup held at rovio!" href="{% static 'root/img/past/2.png' %}">
                          <p style="color:white;">Click to expand</p>
                        </a>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="csi-single-gallery">
                <figure>
                  <img title="Meetup held at rovio!" src="{% static 'root/img/past/3.png' %}" />
                  <figcaption>
                    <div class="csi-hover-link">
                      <div class="csi-vertical">
                        <a title="Meetup held at rovio!" href="{% static 'root/img/past/3.png' %}">
                          <p style="color:white;">Click to expand</p>
                        </a>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div class="csi-single-gallery">
                <figure>
                  <img title="Meetup held at rovio!" src="{% static 'root/img/past/1.jpg' %}" />
                  <figcaption>
                    <div class="csi-hover-link">
                      <div class="csi-vertical">
                        <a title="Meetup held at rovio!" href="{% static 'root/img/past/1.jpg' %}">
                          <p style="color:white;">Click to expand</p>
                        </a>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

  </div>
</body>
{% endblock %}
